version: 2
updates:
  - package-ecosystem: npm
    schedule:
      interval: weekly
      day: "monday"
      time: "10:30"
      timezone: "Asia/Tokyo"
    open-pull-requests-limit: 10

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "08:00"
      timezone: "Asia/Tokyo"
