name: CI

on: [push]

env:
  CI: true

jobs:
  test:
    runs-on: ubuntu-latest
    name: Test

    steps:
      - uses: actions/checkout@v4.1.0
      - uses: actions/setup-node@v3.8.1
        with:
          node-version: 18
          cache: yarn

      - name: Build
        run: |
          yarn install
          yarn build

      - name: Unit tests
        run: yarn test
