name: CI

on: [push]

env:
  CI: true

jobs:
  test:
    runs-on: ubuntu-latest
    name: Test

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup node
        uses: actions/setup-node@v2.4.0
        with:
          node-version: "14.x"

      - name: Build
        run: |
          yarn install
          yarn build
      - name: Run tests
        run: yarn test
